{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-4">
      <h1>Calendar</h1>
      {% if request.user.is_authenticated %}
        <span>Hello, {{ request.user.username }}</span>
        <a href="/logout">Logout</a>
      {% endif %}
    </div>
    <div class="col-lg-8">
      <button onclick="window.location='{% url 'add' %}'" type="button" class="btn btn-success">Add Entry</button>
    </div>
  </div>
  <hr />
  <div class="row">
    {% for entry in entries %}
      {% include 'myapp/_calendar_entry.html' %}
    {% endfor %}
  </div>
</div>
{% endblock %}
